<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="com._04xmlbean.test.PersonDoc">
        <constructor-arg value="zhangyang"></constructor-arg>
        <constructor-arg value="23"></constructor-arg>
        <constructor-arg>
            <list>
                <value>swimming</value>
                <value>singing</value>
            </list>
        </constructor-arg>
    </bean>
</beans>