<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans profile="dev">
        <bean id="student" class="com.chapter03.xmlprofile.Student">
            <property name="name" value="zhangyang"></property>
            <property name="age" value="23"></property>
        </bean>
    </beans>

    <beans profile="test">
        <bean id="student" class="com.chapter03.xmlprofile.Student">
            <property name="name" value="maguangle"></property>
            <property name="age" value="22"></property>
        </bean>
    </beans>
</beans>
