<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <!--mysql8.0版本要求要设置时区-->
                <property name="url" value="jdbc:mysql://node1:3306/test?serverTimezone=Asia/Shanghai"/>
                <property name="username" value="root"/>
                <property name="password" value="Zy891008!"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="userdao.xml"/>
        <mapper resource="deptdao.xml"/>
    </mappers>
</configuration>